[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==22.8"
httpx = "==0.28.1"
httpcore = "==1.0.9"
google-genai = "==2.20.0"
python-dotenv = "==1.0.0"
supabase = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.14"
